## Benchmarks of fast_image_resize crate for {{ arch_name }} architecture

Environment:

{% if arch_id == "arm64" -%}
- CPU: Neoverse-N1 2GHz (Oracle Cloud Compute, VM.Standard.A1.Flex)
{% else -%}
- CPU: AMD Ryzen 9 5950X
- RAM: DDR4 4000 MHz
{% endif -%}
- Ubuntu 24.04 (linux 6.17.0)
- Rust 1.96.0
- criterion = "0.7.0"
- fast_image_resize = "6.0.1"
{% if arch_id == "wasm32" -%}
- wasmtime = "45.0.0"
{% endif %}

Other libraries used to compare of resizing speed:

- image = "0.25.6" (<https://crates.io/crates/image>)
- resize = "0.8.9" (<https://crates.io/crates/resize>, single-threaded mode)
{% if arch_id != "wasm32" -%}
- libvips = "8.15.1" (single-threaded mode)
{% endif %}

Resize algorithms:

- Nearest
- Box - convolution with minimal kernel size 1x1 px
- Bilinear - convolution with minimal kernel size 2x2 px
- Bicubic (CatmullRom) - convolution with minimal kernel size 4x4 px
- Lanczos3 - convolution with minimal kernel size 6x6 px
